h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 4rem;
    line-height: 0.75em;
    margin: 0.75em 0;
}

span,
h2,
label {
    font-weight: 600;
}

h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
    color: #d20094;
    margin: 0.5em 0;
}

p,
li {
    font-weight: 200;
    font-size: 0.9rem;
}

ul {
    margin: 3em 1.5em;
}

ul li {
    margin: 0.5em 0;
}

.lastRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CHECKBOX */

.checkbox-container {
    display: block;
    position: relative;
    padding: 0 1.75em;
    cursor: pointer;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    left: 0;
    height: 1em;
    width: 1em;
    border: 2.5px solid #fff;
    background-color: transparent;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked+.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    content: "✓";
    width: 1em;
    height: 1em;
    color: #fff;
    transform: rotate(0deg);
}

/* FINE CHECKBOX */

#blinkTxt {
    font-size: 0.75rem;
}