@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&family=Outfit:wght@200;400;600;800&display=swap');

/* Selettori generici */

body {
    box-sizing: border-box;
}

#top-block,
#bottom-block,
#center-box {
    text-align: center;
}

h1,
p,
a {
    font-family: 'Outfit', 'sans-serif';
}

/* primo blocco (results) */

#top-block p {
    font-size: 1.5rem;
    font-weight: 200;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

#top-block {
    padding-bottom: 1.5rem;
}

/* secondo blocco (punteggio) */

section {
    position: relative;
    margin: 6rem 0;
}

#center-box,
.left-box,
.right-box {
    display: inline-block;
}

.left-box,
.right-box {
    position: relative;
}

.right-box {
    text-align: right;
    float: right;
}

#center-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.circle-text p {
    font-family: 'inter', 'sans-serif';
    font-weight: 600;
    margin-bottom: 0.6em;
    font-size: 0.9rem;
    transform: scaleX(-1);
}

.circle-text #certificate {
    font-size: 0.75rem;
}

/* formattazione testo secondo blocco */

.score p {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.score p:last-child {
    font-size: 1rem;
    font-weight: 200;
}

.score p:first-child {
    font-size: 3rem;
    font-weight: 400;
}

.blue-text {
    color: #00ffff;

}

.pink-text {
    color: #d20094;
}

#certificate {
    font-weight: 200;
    font-size: 0.6rem;
    line-height: 0.8rem;
}

/* terzo blocco con tasto RATE US */

button {
    font-family: 'outfit', 'sans-serif';
    padding: 0.75em 3.5em;
    font-size: 1.1rem;
    font-weight: 800;
    background: none;
    border: 2px solid #fff;
}

button a {
    text-decoration: none;
    color: #fff;
}

.confetti {
    position: absolute;
    top: 0;
    left: 0;
}

/* prove grafico a anello */

@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}

.pie {
    /* anello in primo piano, dinamico */
    --p: 75;
    /* porzione anello che si colora */
    --b: 2em;
    /* spessore cerchio */
    --c: #00ffff;
    /* colore */
    --w: 20em;
    /* grandezza */
    transform: scaleX(-1);
    /* serve per farlo muovere in senso antiorario, !!! si riflettono anche le scritte all'interno, 
    applicare la stessa proprietà anche alle scritte per annullare l'effetto */

    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    place-content: center;
}

.pieFull {
    /* anello di sfondo, deve essere pieno e non animato */
    --p: 100;
    /* porzione di anello che si colora  */
    --b: 2em;
    /* spessore cerchio */
    --c: #d20094;
    /* colore */
    --w: 20em;
    /* grandezza */

    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    place-content: center;
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    border-radius: 50%;
}

.pie:before,
.pie:after,
.pieFull:before,
.pieFull:after {
    /* rendono il bordo esterno dell'anello circolare, con il radius=0, esce un quadrato */
    content: "";
    position: absolute;
    border-radius: 50%;
}

.pie:before,
.pieFull:before {
    /* definiscono la colorazione, tramite un "gradiente" con stacco netto da transparente a colorato */
    inset: 0;
    background:
        radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat,
        conic-gradient(var(--c) calc(var(--p)*1%), #0000 0);
    -webkit-mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}

.pie:after,
.pieFull:after {
    /* non cambia averlo o no...boh */
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
}

.animate {
    /* animazione con elemento da animare (p), durata e delay */
    animation: p 2s 0.5s both;
}

.no-round:before {
    /* per modificare e arrotondare le estremita */
    background-size: 0 0, auto;
}

.no-round:after {
    /* per modificare e arrotondare le estremita */
    content: none;
}

@keyframes p {

    /* Necessario per l'animazione, variando il valore cambia la porzione precaricata prima di fare l'animazione */
    from {
        --p: 0
    }
}

footer p {
    text-align: center;
    margin: 5em 0 2.5em 0;
    font-weight: 200;
    font-size: 1rem;
}

#bottom-block {
    margin: 9em 0 0 0;
}