@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&family=Outfit:wght@200;400;600;800&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Outfit', sans-serif; */

html {
  font-size: 1em;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

body {
  background-image: url("../materiale\ BW1/assets/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin: 0 auto;
  width: 80%;
}

header {
  padding: 2em 0;
}

#logo {
  width: 10em;
}

label:hover,
#proceedBtn:hover,
input:hover,
.stella:hover,
#bottone {
  cursor: pointer;
}

.blue-btn {
  color: black;
  background-color: #00FFFF;
  border: #00FFFF;
  font-family: 'outfit', 'sans-serif';
  font-weight: 800;
  font-size: 1.1rem;
  padding: 0.75em 2.5em;
  box-shadow: 0 0 100px rgba(52, 152, 219, 0.8);
  cursor: pointer;
}


/*lisa, hover bottone*/
.hovered-button,
.blue-btn {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}