label {
    display: inline-block;
    width: 200px;
    padding: 10px;
    border: solid 2px #ccc;
    transition: all 0.3s;
  } 
  
input[type="radio"] {  /*Nasconde il pallino del radio button*/
    display: none;
  } 
  
input[type="radio"]:checked + label {
    border: solid 2px green;
  }  