@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&family=Outfit:wght@200;400;600;800&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Outfit', sans-serif; */

html {
  font-size: 1em;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

body {
  background-image: url("../materiale\ BW1/assets/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  margin: 0 auto;
  width: 90%;
}

header {
  padding: 2em 0;
}

#logo {
  width: 10em;
}