@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&family=Outfit:wght@200;400;600;800&display=swap');
/* font-family: 'Inter', sans-serif;
Titoli: font-family: 'Outfit', sans-serif; */

h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 4rem;
    line-height: 0.75em;
    margin: 0.75em 0;
}

span,
h2,
label {
    font-weight: 600;
}

h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 2rem;
    color: #d20094;
    margin: 0.5em 0;
}

p,
li {
    font-weight: 200;
    font-size: 0.9rem;
}

ul {
    margin: 3em 1.5em;
}

ul li {
    margin: 0.5em 0;
}

.lastRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CHECKBOX */

.checkbox-container {
    display: block;
    position: relative;
    padding: 0 1.75em;
    cursor: pointer;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
}

.checkmark {
    position: absolute;
    left: 0;
    height: 1em;
    width: 1em;
    border: 2.5px solid #fff;
    background-color: transparent;
   
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked+.checkmark:after {
    display: block;
}

.checkbox-container .checkmark:after {
    content: "✓";
    left: 0.15em;
    width: 1em;
    height: 1em;
    color: #fff;
    /* border: solid white; */
/*     border-width: 0 3px 3px 0; */
    transform: rotate(0deg);
}

/* FINE CHECKBOX */

#blinkTxt {
    font-size: 0.75rem;
}

/* .blinkAnimation {
    color: blue;
    animation: blinky 1s linear infinite;
}

@keyframes blinky { 
    0% { 
        opacity: 0; 
    } 

    50% { 
        opacity: 0.7; 
    } 

    100% { 
        opacity: 0; 
    } 
}  */
