@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&family=Outfit:wght@200;400;600;800&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Outfit', sans-serif; */

header {
    
}

#timer {
    width: 3em;
    height: 3em;
    padding: 2em;
    line-height: 1.2;
    text-align: center;
    float: right;
    clear: both;
    border: 1em solid #95679A;
    border-radius: 50%;
}

.timer_text {
    font-size: 0.6em;
}

.timer_number {
    font-size: 1.6em;
}

main {
    text-align: center;
    margin: 4em;
}

form {
    margin: 0 auto;
    width: 80%;
}

#question {
    margin: 1em;
    font-family: 'Outfit', sans-serif;
    font-size: 2em;
}

#question {
    font-size: 3.5em;
    padding: 0 0.5em 0 0.5em;
}

#question span {
    font-weight: 600;
}

label {
    background: 
        linear-gradient(#282952 0 0) padding-box, /*this is your grey background*/
        linear-gradient(to bottom right, #fff, transparent) border-box;
    color: #fff;
    padding: 14px;
    border: 0.2em solid transparent;
    border-radius: 30px;
    display: inline-block;
    margin: 75px 0;
    width: 20rem;
    margin: 0.5em;
    transition: all 0.3s; 
}

label:hover {
    cursor: pointer;
}

input[type="radio"] {  /*Nasconde il pallino del radio button*/
    display: none;
  } 

/* CLASSE PER CLICK SU BOTTONE */
/* input[type="radio"]:checked + label {
    background: 
            linear-gradient(to bottom, #d20094, #900080) border-box;
    border: 0.2em solid white;
} */

h4 {
    margin-top: 5em;
}

h4 span:last-child {
    color: #d20094;
}